<p>paiz-list works!</p>
<p-table [value]="paizs" [paginator]="true" [rows]="10">
    <ng-template pTemplate="header">
     <tr>
      <th>Id</th>
      <th>Nome</th>
      <th>Continente</th>
      <th>&nbsp;</th>
     </tr>
    </ng-template>
    <ng-template pTemplate="body" let-paiz>
     <tr>
      <td style="text-align: right;">{{paiz.id}}</td>
      <td>{{paiz.nome}}</td>
      <td>{{paiz.continente}}</td>
      <td><button pButton icon="pi pi-pencil" [routerLink]="['/paiz/paiz-add/', paiz.id]" title="Selecionar Paiz"></button></td>
     </tr>
    </ng-template>
   </p-table>
   