<nav>
  <a routerLink="home">Home</a> |
  <a routerLink="banda/banda-add">banda add</a> |
  <a routerLink="banda/banda-list">banda list</a> |
  <a routerLink="album/album-add">album add</a> |
  <a routerLink="album/album-list">album list</a> |
  <a routerLink="paiz/paiz-add">paiz add</a> |
  <a routerLink="paiz/paiz-list">paiz list</a> |
  <a routerLink="artista/artista-add">artista add</a> |
  <a routerLink="artista/artista-list">artista list</a> |
  <a routerLink="intrumento/intrumento-add">intrumento add</a> |
  <a routerLink="intrumento/intrumento-list">intrumento list</a> |
  <a routerLink="musica/musica-add">musica add</a> |
  <a routerLink="musica/musica-list">musica list</a> |
</nav>	
<router-outlet></router-outlet>