<p-panel header="Listagem de Instrumentos">
    <p-table [value]="instrumentos" [paginator]="true" [rows]="10">
        <ng-template pTemplate="header">
            <tr>
                <th>Id</th>
                <th>Nome</th>
                <th>&nbsp;</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-instrumento>
            <tr>
                <td style="text-align: right;">{{instrumento.id}}</td>
                <td>{{instrumento.nome}}</td>
                <td><button pButton icon="pi pi-pencil" [routerLink]="['/instrumento/instrumento-add/', instrumento.id]" title="Selecionar Instrumento"></button></td>
            </tr>
        </ng-template>
    </p-table>
</p-panel>